@model IEnumerable<MySpotify.Models.User>

@{
   
}


<div class="header navbar navbar-expand-lg navbar-light bg-black">
    <div class="header__section">
        <div class="header__item headerlogo">
            <a class="nav-item nav-link active" asp-action="Index" asp-controller="Users">
                <img src="~/img/spotify-logo.svg" style="max-width:100px;" />
            </a>
        </div>

    </div>

    <div class="header__section">
        <div class="header__item headerlogo">
            <a class="nav-item nav-link active" asp-action="Login" asp-controller="Users">Войти</a>
        </div>
        <div class="header__item headerlogo">
            <a class="nav-item nav-link active" asp-action="Registration" asp-controller="Users">Регистрация</a>
        </div>
    </div>
</div>
<div class="body_Index">
<div class="header__section">
<img src="" />
</div>
    <div class="header__section">
<h1>
    Добавляйте песни , создавайте и редактируйте плейлисты
</h1>
</div>
</div>
 


